extends base

block head
  title c0db

block nav
  +navbar("home")

block body
  .container
    .row
      .col-md-6
        form
          .form-group
            label(for="inputCode") Code
            button(onclick="compile()" type="button").btn.btn-default.btm-btn.pull-right Compile
            #codearea
            textarea.code.formControl.sh_c(rows="12" id="inputCode")
      .col-md-6
        form
          .form-group
            label(for="bytecode") Bytecode
            button(type="button")#run.btn.btn-default.btm-btn.pull-right Run
            textarea.code.formControl.sh_c(rows="12" id="bytecode")
    .row
      .col-md-3
        form
          .form-group
            label(for="output") Output
            button(type="button")#continue.no_disp.btn.btn-default.btm-btn.pull-right Continue
            button(type="button")#step.no_disp.btn.btn-default.btm-btn.pull-right Step
            textarea.code.sh_c(id="output")
      .col-md-6
        form
          .form-group
            label(for="internals") Stack Output
            button(type="button")#download.btn.btn-default.btm-btn.pull-right Download
            textarea.code.sh_c(rows="12" id="internals")
      .col-md-3
        form
          .form-group
            label(for="breakpoints") Breakpoints
            button(type="button")#break.btn.btn-default.btm-btn.pull-right Save
            textarea.code.sh_c(id="breakpoints")

block script
  script(type="text/javascript" src="js/codemirror-compressed.js")
  script(type="text/javascript" src="vm/vm.js")

  script(type='text/javascript').
    var cmCodeInput = CodeMirror.fromTextArea($("#inputCode"));

    function callback(data) {
      $("#bytecode").text(decodeURIComponent(data.data));
    }

    function compile() {
      var code = encodeURIComponent($("#inputCode").val());
      $.ajax({
              type: "POST",
              async: true,
              url: "http://www.contrib.andrew.cmu.edu/~amgutier/cc0.cgi",
              dataType: "json",
              data: {
                data: code
              },
              success: callback
      });
    }
